<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Project</title>
</head>
<body>
    <h1>Project List</h1>
    <table>
        <thead>
        <tr>
            <th> Name </th>
            <th> Stem Field </th>
            <th> Description </th>
        </tr>
        </thead>
        <tbody>

        </tr>
        <tr th:each="project : ${projects}">
            <td><span th:text="${project.name}"> Title </span></td>
            <td><span th:text="${project.steamField}"> Author </span></td>
            <td><span th:text="${project.description}"> Author </span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>